---
import '../styles/global.css';
import BlogPage from "../app/blog.tsx"
import type { Blog } from '../data/blog';
import MainLayout from './main.astro';
import ThemeIcon from '../components/astro/theme-icon.astro';
import { Image } from 'astro:assets';
import { baseUrl } from '@/config/site';

// if you want to use the sidebar cookie
const defaultSidebarOpen = Astro.cookies.get('sidebar:state')?.value === 'true';
const { blog, frontmatter } = Astro.props as MarkdownLayoutProps & { blog: Blog };

const displayDate = (date) => {
    return (
        new Date(date).toLocaleDateString('es-ES', {
            weekday: 'long', // 'short' o omite para no mostrar
            year: 'numeric',
            month: 'long',
            day: 'numeric',
        })
    )
}

const meta = {
  title: frontmatter.title,
  description: frontmatter.description,
  //image: "https://ggenzone.github.io/bitacora2/posts/ejemplo/cover.png",
  type: "article",
  siteName: blog.title,
  author: frontmatter.author,
  publishedTime: frontmatter.date.toISOString(),
  modifiedTime: frontmatter.date.toISOString(),
  tags: frontmatter.tags,
  keywords: frontmatter.keywords
};
---

<MainLayout meta={meta}>
<div class="blog">
    <BlogPage client:load defaultSidebarOpen={defaultSidebarOpen} blog={blog}>
        <div class="mx-auto grid w-full max-w-2xl grid-cols-1 gap-10 xl:max-w-6xl xl:grid-cols-[minmax(0,1fr)_var(--container-2xs)]">
            <div class="p-4 pt-10 pb-24 sm:px-6 xl:pr-0 bg-sidebar text-sidebar-foreground">

        <div class="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">  
          <p class="flex items-center gap-2 font-mono text-xs/6 font-medium tracking-widest text-gray-600 uppercase dark:text-gray-400" data-section="true">{displayDate(frontmatter.date)}</p>
<h1 data-title="true" class="mt-2 text-3xl font-medium tracking-tight text-gray-950 dark:text-white">{frontmatter.title}</h1>

          {frontmatter.image && (
    <div class="not-prose relative overflow-hidden rounded-xl h-[350px] mt-4 mb-4 m-4">
    <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-slate-950/10 ring-inset dark:ring-white/10"></div>
    <Image alt={frontmatter.image.alt} loading="lazy" class="h-[350px] w-full object-none" data-nimg="1"  
        src={frontmatter.image.path}
    />
    </div>
)}
            </div>
 
            <article class="p-4
                prose 
                dark:prose-invert 
                
                max-w-none
                
                prose-sm
                prose-h1:font-bold 
                prose-h1:text-xl

                prose-headings:tracking-tight
                prose-headings:font-medium

                prose-headings:text-gray-950 
                dark:prose-headings:text-white

                prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
            ">
                <slot>
            </article>
          </div>
      </div>

    </Page>
    </div>
</MainLayout>